/*ポケモンの詳細情報 */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

/*題名の背景*/
h1 {
  font-size: 3rem;
  color: #ffcb05;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 0px;
  font-weight: bold;
  background-color: #003a70;
  padding: 20px;
}

.container {
  padding: 20px;
}

button {
  border-radius: 12px;
  font-weight: bold;
}

.pokemon-name {
  color: #030c07;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.card {
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.card-media {
  border-radius: 12px;
  object-fit: contain;
}

.card-content {
  padding: 16px;
}

.radar-chart {
  margin: 16px 0;
  width: 100%;
}

.details-button {
  margin: 8px;
  font-size: 1rem;
}
